In [2]:
import numpy as np
import pandas as pd
from pandas_profiling import ProfileReport
import ast

/Users/lizhijie_1/damg7245-Assignment1/venv/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
df = pd.read_csv('../data/raw/MetaData.csv');

In [5]:
geo_column = df.loc[:,"geometry"].apply(lambda col: ast.literal_eval(col))
geo_column

0       [(209, 55), (354, 55), (354, 234), (209, 234),...
1       [(1660, 72), (1841, 72), (1841, 266), (1660, 2...
2       [(2185, 71), (2280, 71), (2280, 159), (2185, 1...
3       [(2397, 171), (2522, 171), (2522, 274), (2397,...
4       [(2309, 300), (2491, 300), (2491, 459), (2309,...
                              ...
3420    [(1160, 2091), (1270, 2091), (1270, 2186), (11...
3421    [(1491, 2185), (1600, 2185), (1600, 2276), (14...
3422    [(1440, 2298), (1553, 2298), (1553, 2390), (14...
3423    [(439, 2048), (508, 2048), (508, 2108), (439, ...
3424    [(2445, 49), (2499, 49), (2499, 110), (2445, 1...
Name: geometry, Length: 3425, dtype: object

In [6]:
xmin = geo_column.apply(lambda col: col[0][0])
xmax = geo_column.apply(lambda col: col[2][0])
ymin = geo_column.apply(lambda col: col[0][1])
ymax = geo_column.apply(lambda col: col[2][1])

In [7]:
width = geo_column.apply(lambda col: col[2][0]-col[0][0])
width

0       145
1       181
2        95
3       125
4       182
       ...
3420    110
3421    109
3422    113
3423     69
3424     54
Name: geometry, Length: 3425, dtype: int64

In [8]:
height = geo_column.apply(lambda col: col[2][1]-col[0][1])
height

0       179
1       194
2        88
3       103
4       159
       ...
3420     95
3421     91
3422     92
3423     60
3424     61
Name: geometry, Length: 3425, dtype: int64

In [17]:
df_plane = df.assign(Xmin=xmin, Xmax=xmax, Ymin=ymin, Ymax=ymax, width=width, height=height)
df_plane.drop(columns=['image_size', 'geometry'], inplace=True)
df_plane.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
df_plane

,image_Height,image_Width,image_Format,image_mode,image_Animated,image_Frames,image_id,class,Xmin,Xmax,Ymin,Ymax,width,height
0,2560,2560,JPEG,RGB,False,1,78400c58-1a7c-4342-a1fb-2117cb7cbc8b.jpg,Airplane,209,354,55,234,145,179
1,2560,2560,JPEG,RGB,False,1,78400c58-1a7c-4342-a1fb-2117cb7cbc8b.jpg,Airplane,1660,1841,72,266,181,194
2,2560,2560,JPEG,RGB,False,1,78400c58-1a7c-4342-a1fb-2117cb7cbc8b.jpg,Airplane,2185,2280,71,159,95,88
3,2560,2560,JPEG,RGB,False,1,78400c58-1a7c-4342-a1fb-2117cb7cbc8b.jpg,Airplane,2397,2522,171,274,125,103
4,2560,2560,JPEG,RGB,False,1,78400c58-1a7c-4342-a1fb-2117cb7cbc8b.jpg,Airplane,2309,2491,300,459,182,159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3420,2560,2560,JPEG,RGB,False,1,ed921ec7-b950-460c-a912-12247d867fea.jpg,Airplane,1160,1270,2091,2186,110,95
3421,2560,2560,JPEG,RGB,False,1,ed921ec7-b950-460c-a912-12247d867fea.jpg,Airplane,1491,1600,2185,2276,109,91
3422,2560,2560,JPEG,RGB,False,1,ed921ec7-b950-460c-a912-12247d867fea.jpg,Airplane,1440,1553,2298,2390,113,92
3423,2560,2560,JPEG,RGB,False,1,ed921ec7-b950-460c-a912-12247d867fea.jpg,Airplane,439,508,2048,2108,69,60
3424,2560,2560,JPEG,RGB,False,1,ed921ec7-b950-460c-a912-12247d867fea.jpg,Airplane,2445,2499,49,110,54,61

In [18]:
df_plane.to_csv("../data/processed/airplane.csv")

In [19]:
profile = ProfileReport(df_plane, title="Pandas Profiling Report")
profile.to_file("../reports/airplane_data_profiling.html")

Summarize dataset: 100%|██████████| 63/63 [00:05<00:00, 11.47it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.37s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.29it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 297.70it/s]