In [2]:
import pandas as pd
from PIL import Image, ImageDraw
import os
from IPython.display import display, Image

In [31]:
df = pd.read_csv("../data/processed/image_planes_num.csv")
plane = pd.read_csv("../data/processed/airplane.csv")

In [61]:
df

,Unnamed: 0,index,class,count
0,0,014de911-7810-4f7d-8967-3e5402209f4a.jpg,Airplane,31
1,1,014de911-7810-4f7d-8967-3e5402209f4a.jpg,Truncated_airplane,1
2,2,0263270b-e3ee-41dc-aeef-43ff77e66d5b.jpg,Airplane,39
3,3,0263270b-e3ee-41dc-aeef-43ff77e66d5b.jpg,Truncated_airplane,1
4,4,03f84930-e2be-4c19-9afc-0dc26d02538e.jpg,Airplane,20
...,...,...,...,...
152,152,fc1ab8ce-e531-46ed-b74b-0374cd58cf2a.jpg,Airplane,56
153,153,fc1ab8ce-e531-46ed-b74b-0374cd58cf2a.jpg,Truncated_airplane,2
154,154,fc8f9dc5-b6a2-49f3-9bde-1f8ff382ca5f.jpg,Airplane,28
155,155,fc8f9dc5-b6a2-49f3-9bde-1f8ff382ca5f.jpg,Truncated_airplane,1
156,156,fca12ef2-0f65-48d0-a4aa-6bae562f2236.jpg,Airplane,8

In [64]:
def count_airplanes_in_given_image(image_id) -> int:
   # use 014de911-7810-4f7d-8967-3e5402209f4a.jpg as example
   ## Input image_id and compute how many aircraft contains in the given image
   ## return integer
   ## if image_id has no found responding image, throw error: no such image
   df1 = df[df['index']==True]
   return df1.loc[: ,"count"].sum()

In [63]:
count_airplanes_in_given_image("3")

0

In [38]:
count_airplanes_in_given_image("014de911-7810-4f7d-8967-3e5402209f4a.jpg")

32

In [42]:
def return_images_with_maximum_airplanes(number_of_image):
    withSum = df.groupby(["index"])["count"].sum().reset_index(name="sum")
    df2 = withSum.sort_values(by="sum", ascending=False)
    return df2.head(number_of_image);

In [43]:
return_images_with_maximum_airplanes(10)

                                        index  sum
85   d9399a45-6745-4e59-8903-90640b2ddf9f.jpg   92
80   cbd51501-ed0f-411c-b472-df4357cca40c.jpg   88
36   56e2d3d3-6b16-401f-a300-847272373df5.jpg   71
60   980b5831-43b7-4adb-9e4b-67d6cff3ef68.jpg   67
34   54b4e42b-3667-4564-b8fa-c23122ca54d5.jpg   67
61   996ba764-cd2a-49c0-9c9f-b166207de0ab.jpg   64
50   7635d63c-6b97-4c9c-a7dc-27773d42ed4c.jpg   60
100  fc1ab8ce-e531-46ed-b74b-0374cd58cf2a.jpg   58
45   696b9320-7dbe-4c28-bd07-7a73e7a28e64.jpg   58
21   3e321b8a-9504-45aa-82b4-16158e28e290.jpg   57

In [44]:
def return_images_with_given_number_of_aircraft(contain_aircraft_number, limit_of_image) -> str:
    ## Input integer of how many aircraft contains 
    # Iterate through all images, find images that contains given number of aircraft
    # display up to 5 of them 
    # return number of these image

    # if no image contain such number of aircraft, return none
    # if input < 0 return error

    """
    a schema based on each image_id
    Image_id  aircraft_number  has_truncated  
                0 or [number]   0 or [truncated]
    """
    withSum = df.groupby(["index"])["count"].sum().reset_index(name="sum")
    df3 = withSum[withSum['sum'] == contain_aircraft_number]
    return df3.head(limit_of_image)

In [49]:
return_images_with_given_number_of_aircraft(20, 5)

                                       index  sum
2   03f84930-e2be-4c19-9afc-0dc26d02538e.jpg   20
14  2314c1b5-ec8f-4212-b42f-43365a13fd20.jpg   20
17  3463b88d-1e11-4c04-9868-e8c72d510556.jpg   20

In [51]:
def return_all_images_with_truncated_aircraft(limit_of_images):
    """ Input 5 would reutrn at most 5 image_id of truncated images
    """
    hasTruncated = df[df['class'] == "Truncated_airplane"]
    df4 = hasTruncated.sort_values(by="count", ascending=False)
    return df4.head(limit_of_images)

In [52]:
return_all_images_with_truncated_aircraft(10)

,Unnamed: 0,index,class,count
101,101,af67041b-f363-47ae-8ddd-f652db3a6bab.jpg,Truncated_airplane,12
65,65,6627e7c7-2fdd-4f3c-965e-b4d73d0a4cc2.jpg,Truncated_airplane,8
98,98,ad36e699-4a1f-4891-b579-6e9ac3e54235.jpg,Truncated_airplane,6
74,74,7635d63c-6b97-4c9c-a7dc-27773d42ed4c.jpg,Truncated_airplane,6
28,28,3e321b8a-9504-45aa-82b4-16158e28e290.jpg,Truncated_airplane,4
62,62,5f726a3d-9876-498f-90c5-9f9efae06c6a.jpg,Truncated_airplane,4
19,19,2314c1b5-ec8f-4212-b42f-43365a13fd20.jpg,Truncated_airplane,3
149,149,f34f05c6-84ce-47d7-ba5c-394d85c86a46.jpg,Truncated_airplane,3
138,138,e9021b38-0b3c-484f-af2c-b36bbf765f85.jpg,Truncated_airplane,3
44,44,4fdabd34-a2fd-4f0a-bb48-01fe043f1499.jpg,Truncated_airplane,3

In [ ]:
def return_truncated_airplane_info(image_id):
    """if no truncated, throw errors"""

In [32]:
def has_aircraft_in_given_x_y_coordinate(image_id, x_loc, y_loc):
    ## Input image_id and x, y coordinate  x (0, 2560)
    #  if the location of the image has a aircraft, return true, else return false

    """if false, return [] all other geometry contains airplane
    
    if true return image which has bounds box on entered location"""
    img = Image.open(r"/Users/lizhijie_1/Downloads/Aircraft-Detection/images/"+str(image_id))
    image = ImageDraw.Draw(img)
    
    test = plane[plane["image_id"]==image_id]
    test.reset_index(drop=True, inplace=True)

    coordinate = []
    for i in range(len(test.index)):
        tuple = (test.at[i, "Xmin"], test.at[i,"Ymin"], test.at[i, "Xmax"], test.at[i, "Ymax"])
        coordinate.append(tuple)
        if(x_loc>=tuple[0] and x_loc <= tuple[2] and 
            y_loc >= tuple[1] and y_loc <= tuple[3]):
            rect = image.rectangle(tuple, outline="red", width=5)
            img.show()
            return "Found"
        i+=1

    return "No airplane in given coordinate, here is all location that has airplanes", coordinate;

In [33]:
res = has_aircraft_in_given_x_y_coordinate("5c9e817a-dc4b-42ab-952c-3128e2de12e8.jpg",1600,500)
res

'Found'

In [29]:
res1 = has_aircraft_in_given_x_y_coordinate("5c9e817a-dc4b-42ab-952c-3128e2de12e8.jpg", 2000, 1600)
res1

('No airplane in given coordinate, here is all location that has airplanes',
 [(1950, 280, 2139, 436),
  (1990, 472, 2182, 685),
  (1989, 722, 2187, 894),
  (1539, 304, 1729, 453),
  (1555, 479, 1758, 651),
  (1572, 671, 1768, 840),
  (1604, 868, 1789, 1018),
  (876, 350, 1048, 482),
  (898, 529, 1061, 668),
  (467, 590, 643, 743),
  (2067, 1344, 2269, 1568),
  (2079, 1574, 2287, 1789),
  (2090, 1806, 2293, 1978),
  (2108, 2042, 2288, 2212),
  (1632, 1370, 1820, 1531),
  (1643, 1568, 1841, 1718),
  (1664, 1739, 1841, 1889),
  (1686, 1926, 1860, 2081),
  (1701, 2112, 1887, 2257),
  (958, 1445, 1137, 1601),
  (979, 1641, 1192, 1853),
  (993, 1901, 1207, 2057),
  (1004, 2110, 1212, 2276),
  (634, 2062, 724, 2137),
  (597, 1701, 715, 1794),
  (231, 2086, 344, 2210),
  (48, 2072, 197, 2226),
  (36, 1730, 122, 1836),
  (272, 1590, 377, 1676),
  (164, 1718, 317, 1866)])

In [61]:
test1 = test.sort_values("plane_size", ascending=True)
test1.reset_index(drop=True, inplace=True)
test1.head(5)
# len(test.index)

,plane_size,Unnamed: 0.1,Unnamed: 0,image_Height,image_Width,image_Format,image_mode,image_Animated,image_Frames,id,image_id,class,Xmin,Xmax,Ymin,Ymax,width,height
0,165,2232,2232,2560,2560,JPEG,RGB,False,1,723,5c9e817a-dc4b-42ab-952c-3128e2de12e8.jpg,Airplane,634,724,2062,2137,90,75
1,191,2237,2237,2560,2560,JPEG,RGB,False,1,728,5c9e817a-dc4b-42ab-952c-3128e2de12e8.jpg,Airplane,272,377,1590,1676,105,86
2,192,2236,2236,2560,2560,JPEG,RGB,False,1,727,5c9e817a-dc4b-42ab-952c-3128e2de12e8.jpg,Airplane,36,122,1730,1836,86,106
3,211,2233,2233,2560,2560,JPEG,RGB,False,1,724,5c9e817a-dc4b-42ab-952c-3128e2de12e8.jpg,Airplane,597,715,1701,1794,118,93
4,237,2234,2234,2560,2560,JPEG,RGB,False,1,725,5c9e817a-dc4b-42ab-952c-3128e2de12e8.jpg,Airplane,231,344,2086,2210,113,124

In [25]:
im = Image.open(r"/Users/lizhijie_1/Downloads/Aircraft-Detection/images/5c9e817a-dc4b-42ab-952c-3128e2de12e8.jpg")
im.show()

In [57]:
def display_biggest_aircraft(image_id, limit_of_number):
    """if true, return list of (xmin, ymin, xmax, ymax) of all big airplane"""


    test = plane[plane["image_id"]==image_id]
    test.insert(0, "plane_size", test["width"]+test["height"])
    test1 = test.sort_values("plane_size", ascending=False)
    test1.reset_index(drop=True, inplace=True)

    img = Image.open(r"/Users/lizhijie_1/Downloads/Aircraft-Detection/images/"+str(image_id))
    image = ImageDraw.Draw(img)

    coordinate = []
    if(len(test1.index) >= limit_of_number):
        maximum = limit_of_number
    else: 
        maximum = len(test1.index)
    for i in range(maximum):
        tuple = (test1.at[i, "Xmin"], test1.at[i,"Ymin"], test1.at[i, "Xmax"], test1.at[i, "Ymax"])
        coordinate.append(tuple)
        rect = image.rectangle(tuple, outline="red", width=5)
        # print("current i = ",i)
        i+=1

    img.show()

    return coordinate;

In [58]:
display_biggest_aircraft("5c9e817a-dc4b-42ab-952c-3128e2de12e8.jpg",30)

[(2067, 1344, 2269, 1568),
 (979, 1641, 1192, 1853),
 (2079, 1574, 2287, 1789),
 (1990, 472, 2182, 685),
 (1555, 479, 1758, 651),
 (2090, 1806, 2293, 1978),
 (1004, 2110, 1212, 2276),
 (1989, 722, 2187, 894),
 (993, 1901, 1207, 2057),
 (1572, 671, 1768, 840),
 (2108, 2042, 2288, 2212),
 (1632, 1370, 1820, 1531),
 (1643, 1568, 1841, 1718),
 (1950, 280, 2139, 436),
 (1539, 304, 1729, 453),
 (958, 1445, 1137, 1601),
 (1604, 868, 1789, 1018),
 (1701, 2112, 1887, 2257),
 (467, 590, 643, 743),
 (1686, 1926, 1860, 2081),
 (1664, 1739, 1841, 1889),
 (876, 350, 1048, 482),
 (48, 2072, 197, 2226),
 (898, 529, 1061, 668),
 (164, 1718, 317, 1866),
 (231, 2086, 344, 2210),
 (597, 1701, 715, 1794),
 (36, 1730, 122, 1836),
 (272, 1590, 377, 1676),
 (634, 2062, 724, 2137)]

In [102]:
def display_smallest_aircraft(image_id, limit_of_number):

    test = plane[plane["image_id"]==image_id]
    test.insert(0, "plane_size", test["width"]+test["height"])
    test1 = test.sort_values("plane_size", ascending=True)
    test1.reset_index(drop=True, inplace=True)

    img = Image.open(r"/Users/lizhijie_1/Downloads/Aircraft-Detection/images/"+str(image_id))
    image = ImageDraw.Draw(img)

    coordinate = []
    if(len(test1.index) >= limit_of_number):
        maximum = limit_of_number
    else: 
        maximum = len(test1.index)
    for i in range(maximum):
        tuple = (test1.at[i, "Xmin"], test1.at[i,"Ymin"], test1.at[i, "Xmax"], test1.at[i, "Ymax"])
        coordinate.append(tuple)
        rect = image.rectangle(tuple, outline="red", width=5)
        print("current i = ",i)
        i+=1

    img.show()

    return coordinate;

In [103]:
image1 = "5c9e817a-dc4b-42ab-952c-3128e2de12e8.jpg"
display_smallest_aircraft(image1, 5)

current i =  0
current i =  1
current i =  2
current i =  3
current i =  4

[(634, 2062, 724, 2137),
 (272, 1590, 377, 1676),
 (36, 1730, 122, 1836),
 (597, 1701, 715, 1794),
 (231, 2086, 344, 2210)]